Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/hooks/useVersion.ts
  src/web/src/hooks/useVersion.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/interfaces/auth.interface.ts
  src/web/src/interfaces/auth.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/web/src/interfaces/excel.interface.ts
  src/web/src/interfaces/excel.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/web/src/interfaces/formula.interface.ts
  src/web/src/interfaces/formula.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/web/src/interfaces/theme.interface.ts
  src/web/src/interfaces/theme.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/web/src/interfaces/version.interface.ts
  src/web/src/interfaces/version.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/web/src/middleware/auth.middleware.ts
  src/web/src/middleware/auth.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/middleware/error.middleware.ts
  src/web/src/middleware/error.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/middleware/excel.middleware.ts
  src/web/src/middleware/excel.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/DataCleaning/DataCleaning.styles.ts
  src/web/src/pages/DataCleaning/DataCleaning.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/DataCleaning/DataCleaning.test.tsx
  src/web/src/pages/DataCleaning/DataCleaning.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/DataCleaning/DataCleaning.tsx
  src/web/src/pages/DataCleaning/DataCleaning.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/FormulaAssistant/FormulaAssistant.styles.ts
  src/web/src/pages/FormulaAssistant/FormulaAssistant.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/FormulaAssistant/FormulaAssistant.test.tsx
  src/web/src/pages/FormulaAssistant/FormulaAssistant.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/FormulaAssistant/FormulaAssistant.tsx
  src/web/src/pages/FormulaAssistant/FormulaAssistant.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/Settings/Settings.styles.ts
  src/web/src/pages/Settings/Settings.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/Settings/Settings.test.tsx
  src/web/src/pages/Settings/Settings.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/Settings/Settings.tsx
  src/web/src/pages/Settings/Settings.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/VersionHistory/VersionHistory.styles.ts
  src/web/src/pages/VersionHistory/VersionHistory.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/VersionHistory/VersionHistory.test.tsx
  src/web/src/pages/VersionHistory/VersionHistory.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/pages/VersionHistory/VersionHistory.tsx
  src/web/src/pages/VersionHistory/VersionHistory.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/services/excel.service.ts
  src/web/src/services/excel.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/services/formula.service.ts
  src/web/src/services/formula.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/services/version.service.ts
  src/web/src/services/version.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/slices/authSlice.ts
  src/web/src/store/slices/authSlice.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/slices/excelSlice.ts
  src/web/src/store/slices/excelSlice.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/slices/formulaSlice.ts
  src/web/src/store/slices/formulaSlice.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/slices/themeSlice.ts
  src/web/src/store/slices/themeSlice.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/store/slices/versionSlice.ts
  src/web/src/store/slices/versionSlice.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/types/excel.types.ts
  src/web/src/types/excel.types.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/types/formula.types.ts
  src/web/src/types/formula.types.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/types/theme.types.ts
  src/web/src/types/theme.types.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/types/version.types.ts
  src/web/src/types/version.types.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/utils/auth.utils.ts
  src/web/src/utils/auth.utils.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/utils/excel.utils.ts
  src/web/src/utils/excel.utils.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/utils/formula.utils.ts
  src/web/src/utils/formula.utils.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/utils/theme.utils.ts
  src/web/src/utils/theme.utils.ts
Owners: @project-leads, @architecture-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team
