Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/pyproject.toml
  src/backend/services/ai/pyproject.toml
Owners: @ai-team, @ml-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/requirements.txt
  src/backend/services/ai/requirements.txt
Owners: @security-team, @dependency-managers, @ai-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/setup.py
  src/backend/services/ai/setup.py
Owners: @ai-team, @ml-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/__init__.py
  src/backend/services/ai/src/__init__.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/config.py
  src/backend/services/ai/src/config.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/constants.py
  src/backend/services/ai/src/constants.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/controllers/formula_controller.py
  src/backend/services/ai/src/controllers/formula_controller.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/controllers/suggestion_controller.py
  src/backend/services/ai/src/controllers/suggestion_controller.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/models/formula_model.py
  src/backend/services/ai/src/models/formula_model.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/models/suggestion_model.py
  src/backend/services/ai/src/models/suggestion_model.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/services/openai_service.py
  src/backend/services/ai/src/services/openai_service.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/utils/formula_parser.py
  src/backend/services/ai/src/utils/formula_parser.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/src/utils/validation.py
  src/backend/services/ai/src/utils/validation.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/tests/conftest.py
  src/backend/services/ai/tests/conftest.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/tests/test_formula_controller.py
  src/backend/services/ai/tests/test_formula_controller.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/tests/test_suggestion_controller.py
  src/backend/services/ai/tests/test_suggestion_controller.py
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/Dockerfile
  src/backend/services/core/Dockerfile
Owners: @backend-team, @core-service-owners, @performance-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/README.md
  src/backend/services/core/README.md
Owners: @backend-team, @core-service-owners, @performance-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/package.json
  src/backend/services/core/package.json
Owners: @security-team, @dependency-managers, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/tsconfig.json
  src/backend/services/core/tsconfig.json
Owners: @backend-team, @core-service-owners, @performance-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/app.ts
  src/backend/services/core/src/app.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/config/index.ts
  src/backend/services/core/src/config/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/constants/index.ts
  src/backend/services/core/src/constants/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/controllers/formula.controller.ts
  src/backend/services/core/src/controllers/formula.controller.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/controllers/version.controller.ts
  src/backend/services/core/src/controllers/version.controller.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/interfaces/formula.interface.ts
  src/backend/services/core/src/interfaces/formula.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/interfaces/version.interface.ts
  src/backend/services/core/src/interfaces/version.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/middleware/auth.middleware.ts
  src/backend/services/core/src/middleware/auth.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/middleware/error.middleware.ts
  src/backend/services/core/src/middleware/error.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/middleware/validation.middleware.ts
  src/backend/services/core/src/middleware/validation.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/routes/formula.routes.ts
  src/backend/services/core/src/routes/formula.routes.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/routes/version.routes.ts
  src/backend/services/core/src/routes/version.routes.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/services/formula.service.ts
  src/backend/services/core/src/services/formula.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/services/version.service.ts
  src/backend/services/core/src/services/version.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/src/utils/logger.ts
  src/backend/services/core/src/utils/logger.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/tests/formula.test.ts
  src/backend/services/core/tests/formula.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/core/tests/version.test.ts
  src/backend/services/core/tests/version.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/Dockerfile
  src/backend/services/data/Dockerfile
Owners: @data-team, @database-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/README.md
  src/backend/services/data/README.md
Owners: @data-team, @database-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/package.json
  src/backend/services/data/package.json
Owners: @security-team, @dependency-managers, @architecture-team
