Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/package.json
  src/web/package.json
Owners: @security-team, @dependency-managers, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/index.html
  src/web/public/index.html
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/manifest.xml
  src/web/public/manifest.xml
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/icons/favicon.ico
  src/web/public/assets/icons/favicon.ico
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/icons/icon-16.png
  src/web/public/assets/icons/icon-16.png
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/icons/icon-32.png
  src/web/public/assets/icons/icon-32.png
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/icons/icon-64.png
  src/web/public/assets/icons/icon-64.png
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/icons/icon-80.png
  src/web/public/assets/icons/icon-80.png
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/public/assets/images/logo.png
  src/web/public/assets/images/logo.png
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/office.ts
  src/web/src/office.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Button/Button.styles.ts
  src/web/src/components/common/Button/Button.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Button/Button.test.tsx
  src/web/src/components/common/Button/Button.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Button/Button.tsx
  src/web/src/components/common/Button/Button.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Error/Error.styles.ts
  src/web/src/components/common/Error/Error.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Error/Error.test.tsx
  src/web/src/components/common/Error/Error.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Error/Error.tsx
  src/web/src/components/common/Error/Error.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Input/Input.styles.ts
  src/web/src/components/common/Input/Input.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Input/Input.test.tsx
  src/web/src/components/common/Input/Input.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Input/Input.tsx
  src/web/src/components/common/Input/Input.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Loading/Loading.styles.ts
  src/web/src/components/common/Loading/Loading.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Loading/Loading.test.tsx
  src/web/src/components/common/Loading/Loading.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/common/Loading/Loading.tsx
  src/web/src/components/common/Loading/Loading.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/ActionPanel/ActionPanel.styles.ts
  src/web/src/components/data/ActionPanel/ActionPanel.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/ActionPanel/ActionPanel.test.tsx
  src/web/src/components/data/ActionPanel/ActionPanel.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/ActionPanel/ActionPanel.tsx
  src/web/src/components/data/ActionPanel/ActionPanel.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/DataPreview/DataPreview.styles.ts
  src/web/src/components/data/DataPreview/DataPreview.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/DataPreview/DataPreview.test.tsx
  src/web/src/components/data/DataPreview/DataPreview.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/DataPreview/DataPreview.tsx
  src/web/src/components/data/DataPreview/DataPreview.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/IssuePanel/IssuePanel.styles.ts
  src/web/src/components/data/IssuePanel/IssuePanel.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/IssuePanel/IssuePanel.test.tsx
  src/web/src/components/data/IssuePanel/IssuePanel.test.tsx
Owners: @qa-team, @frontend-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team
