Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/data/IssuePanel/IssuePanel.tsx
  src/web/src/components/data/IssuePanel/IssuePanel.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/ContextPanel/ContextPanel.styles.ts
  src/web/src/components/formula/ContextPanel/ContextPanel.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/ContextPanel/ContextPanel.test.tsx
  src/web/src/components/formula/ContextPanel/ContextPanel.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/ContextPanel/ContextPanel.tsx
  src/web/src/components/formula/ContextPanel/ContextPanel.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/FormulaInput/FormulaInput.styles.ts
  src/web/src/components/formula/FormulaInput/FormulaInput.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/FormulaInput/FormulaInput.test.tsx
  src/web/src/components/formula/FormulaInput/FormulaInput.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/FormulaInput/FormulaInput.tsx
  src/web/src/components/formula/FormulaInput/FormulaInput.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/SuggestionPanel/SuggestionPanel.styles.ts
  src/web/src/components/formula/SuggestionPanel/SuggestionPanel.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/SuggestionPanel/SuggestionPanel.test.tsx
  src/web/src/components/formula/SuggestionPanel/SuggestionPanel.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/formula/SuggestionPanel/SuggestionPanel.tsx
  src/web/src/components/formula/SuggestionPanel/SuggestionPanel.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Header/Header.styles.ts
  src/web/src/components/layout/Header/Header.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Header/Header.test.tsx
  src/web/src/components/layout/Header/Header.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Header/Header.tsx
  src/web/src/components/layout/Header/Header.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Navigation/Navigation.styles.ts
  src/web/src/components/layout/Navigation/Navigation.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Navigation/Navigation.test.tsx
  src/web/src/components/layout/Navigation/Navigation.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/Navigation/Navigation.tsx
  src/web/src/components/layout/Navigation/Navigation.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/TaskPane/TaskPane.styles.ts
  src/web/src/components/layout/TaskPane/TaskPane.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/TaskPane/TaskPane.test.tsx
  src/web/src/components/layout/TaskPane/TaskPane.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/layout/TaskPane/TaskPane.tsx
  src/web/src/components/layout/TaskPane/TaskPane.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/ChangeDetails/ChangeDetails.styles.ts
  src/web/src/components/version/ChangeDetails/ChangeDetails.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/ChangeDetails/ChangeDetails.test.tsx
  src/web/src/components/version/ChangeDetails/ChangeDetails.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/ChangeDetails/ChangeDetails.tsx
  src/web/src/components/version/ChangeDetails/ChangeDetails.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/RestorePanel/RestorePanel.styles.ts
  src/web/src/components/version/RestorePanel/RestorePanel.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/RestorePanel/RestorePanel.test.tsx
  src/web/src/components/version/RestorePanel/RestorePanel.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/RestorePanel/RestorePanel.tsx
  src/web/src/components/version/RestorePanel/RestorePanel.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/Timeline/Timeline.styles.ts
  src/web/src/components/version/Timeline/Timeline.styles.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/Timeline/Timeline.test.tsx
  src/web/src/components/version/Timeline/Timeline.test.tsx
Owners: @qa-team, @frontend-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/components/version/Timeline/Timeline.tsx
  src/web/src/components/version/Timeline/Timeline.tsx
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/config/auth.config.ts
  src/web/src/config/auth.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/config/excel.config.ts
  src/web/src/config/excel.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/constants/api.constants.ts
  src/web/src/constants/api.constants.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/constants/auth.constants.ts
  src/web/src/constants/auth.constants.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/constants/excel.constants.ts
  src/web/src/constants/excel.constants.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/constants/ui.constants.ts
  src/web/src/constants/ui.constants.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/hooks/useExcel.ts
  src/web/src/hooks/useExcel.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/hooks/useFormula.ts
  src/web/src/hooks/useFormula.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/src/hooks/useTheme.ts
  src/web/src/hooks/useTheme.ts
Owners: @project-leads, @architecture-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team
