Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/tsconfig.json
  src/backend/services/data/tsconfig.json
Owners: @data-team, @database-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/app.ts
  src/backend/services/data/src/app.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/config/database.ts
  src/backend/services/data/src/config/database.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/config/redis.ts
  src/backend/services/data/src/config/redis.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/controllers/cleaning.controller.ts
  src/backend/services/data/src/controllers/cleaning.controller.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/controllers/workbook.controller.ts
  src/backend/services/data/src/controllers/workbook.controller.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/entities/cell-change.entity.ts
  src/backend/services/data/src/entities/cell-change.entity.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/entities/user.entity.ts
  src/backend/services/data/src/entities/user.entity.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/entities/workbook.entity.ts
  src/backend/services/data/src/entities/workbook.entity.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/entities/worksheet.entity.ts
  src/backend/services/data/src/entities/worksheet.entity.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/interfaces/cleaning.interface.ts
  src/backend/services/data/src/interfaces/cleaning.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/interfaces/workbook.interface.ts
  src/backend/services/data/src/interfaces/workbook.interface.ts
Owners: @architecture-team, @type-system-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/middleware/cache.middleware.ts
  src/backend/services/data/src/middleware/cache.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/routes/cleaning.routes.ts
  src/backend/services/data/src/routes/cleaning.routes.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/routes/workbook.routes.ts
  src/backend/services/data/src/routes/workbook.routes.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/services/cleaning.service.ts
  src/backend/services/data/src/services/cleaning.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/src/services/workbook.service.ts
  src/backend/services/data/src/services/workbook.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/tests/cleaning.test.ts
  src/backend/services/data/tests/cleaning.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/data/tests/workbook.test.ts
  src/backend/services/data/tests/workbook.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/Dockerfile
  src/backend/services/gateway/Dockerfile
Owners: @backend-team, @security-team, @api-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/README.md
  src/backend/services/gateway/README.md
Owners: @backend-team, @security-team, @api-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/nginx.conf
  src/backend/services/gateway/nginx.conf
Owners: @backend-team, @security-team, @api-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/package.json
  src/backend/services/gateway/package.json
Owners: @security-team, @dependency-managers, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/tsconfig.json
  src/backend/services/gateway/tsconfig.json
Owners: @backend-team, @security-team, @api-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/app.ts
  src/backend/services/gateway/src/app.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/config/routes.ts
  src/backend/services/gateway/src/config/routes.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/middleware/auth.middleware.ts
  src/backend/services/gateway/src/middleware/auth.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/middleware/rate-limit.middleware.ts
  src/backend/services/gateway/src/middleware/rate-limit.middleware.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/services/auth.service.ts
  src/backend/services/gateway/src/services/auth.service.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/src/utils/jwt.ts
  src/backend/services/gateway/src/utils/jwt.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/tests/auth.test.ts
  src/backend/services/gateway/tests/auth.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/gateway/tests/routes.test.ts
  src/backend/services/gateway/tests/routes.test.ts
Owners: @qa-team, @test-automation-experts

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/shared/constants/index.ts
  src/backend/services/shared/constants/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/shared/interfaces/index.ts
  src/backend/services/shared/interfaces/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/shared/types/index.ts
  src/backend/services/shared/types/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/shared/utils/index.ts
  src/backend/services/shared/utils/index.ts
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.env.staging
  src/web/.env.staging
Owners: @frontend-team, @ui-experts, @accessibility-team

Add public-samples/cursor-vexcel-muq8ie/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @ui-experts, @accessibility-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team
