Repository blackjackbanks/cursor-vexcel-muq8ie, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @frontend-team, @ui-experts, @accessibility-team, @ai-team, @ml-experts, @security-team, @backend-team, @core-service-owners, @performance-team, @data-team, @database-experts, @api-experts, @qa-team, @test-automation-experts, @devops-team, @cloud-experts, @dependency-managers, @type-system-experts, @technical-writers, @office-integration-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/kubernetes/services/core-service.yaml
  infrastructure/kubernetes/services/core-service.yaml
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/kubernetes/services/data-service.yaml
  infrastructure/kubernetes/services/data-service.yaml
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/kubernetes/services/gateway-service.yaml
  infrastructure/kubernetes/services/gateway-service.yaml
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/keyvault/main.tf
  infrastructure/terraform/modules/keyvault/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/keyvault/outputs.tf
  infrastructure/terraform/modules/keyvault/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/keyvault/variables.tf
  infrastructure/terraform/modules/keyvault/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/monitor/main.tf
  infrastructure/terraform/modules/monitor/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/monitor/outputs.tf
  infrastructure/terraform/modules/monitor/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/monitor/variables.tf
  infrastructure/terraform/modules/monitor/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/sql/main.tf
  infrastructure/terraform/modules/sql/main.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/sql/outputs.tf
  infrastructure/terraform/modules/sql/outputs.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/infrastructure/terraform/modules/sql/variables.tf
  infrastructure/terraform/modules/sql/variables.tf
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/.env.development
  src/backend/.env.development
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/.env.production
  src/backend/.env.production
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/.env.staging
  src/backend/.env.staging
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/README.md
  src/backend/README.md
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @architecture-team, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/lerna.json
  src/backend/lerna.json
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @dependency-managers, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads, @architecture-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/Dockerfile
  src/backend/services/ai/Dockerfile
Owners: @ai-team, @ml-experts, @security-team

Add public-samples/cursor-vexcel-muq8ie/src/backend/services/ai/README.md
  src/backend/services/ai/README.md
Owners: @ai-team, @ml-experts, @security-team

.github/CODEOWNERS:

# AI-enhanced Excel Add-in CODEOWNERS file
# This file defines code ownership and required reviewers for different components
# Format: path/to/code team-or-username1 team-or-username2

# Root level changes require project leads and architecture team review
* @project-leads @architecture-team

# Frontend components require UI, frontend, and accessibility team review
/src/web/* @frontend-team @ui-experts @accessibility-team

# AI service components require AI, ML, and security team review
/src/backend/services/ai/* @ai-team @ml-experts @security-team

# Core service components require backend, core service, and performance team review
/src/backend/services/core/* @backend-team @core-service-owners @performance-team

# Data service components require data, database, and security team review
/src/backend/services/data/* @data-team @database-experts @security-team

# API Gateway components require backend, security, and API team review
/src/backend/services/gateway/* @backend-team @security-team @api-experts

# Test files require QA and respective team review
*.test.ts @qa-team @test-automation-experts
*.test.tsx @qa-team @frontend-team

# Infrastructure changes require DevOps, security, and cloud expert review
/infrastructure/* @devops-team @security-team @cloud-experts

# CI/CD workflow changes require DevOps and security team review
/.github/workflows/* @devops-team @security-team

# Shared utilities require backend, architecture, and security team review
/src/backend/services/shared/* @backend-team @architecture-team @security-team

# Dependency management requires security, dependency, and architecture team review
package.json @security-team @dependency-managers @architecture-team
requirements.txt @security-team @dependency-managers @ai-team

# Configuration and interface files require architecture team review
*.config.ts @architecture-team @security-team
*.interface.ts @architecture-team @type-system-experts

# Documentation changes require technical writers and respective team review
/docs/* @technical-writers @architecture-team

# Security-sensitive configurations require mandatory security team review
/src/backend/config/security/* @security-team @architecture-team
/src/backend/auth/* @security-team @backend-team
/infrastructure/security/* @security-team @devops-team

# Excel Add-in specific components require Office integration experts
/src/office/* @office-integration-team @frontend-team @accessibility-team

# Database migrations require careful review from data and security teams
/src/backend/migrations/* @data-team @database-experts @security-team

# Shared type definitions require type system experts
/src/types/* @type-system-experts @architecture-team

# API specifications require API experts and security review
/api-specs/* @api-experts @security-team @architecture-team
